@import url("https://fonts.googleapis.com/css2?family=Wallpoet:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
  background-color: #f0f2f5 !important;
}

:root {
  --font-roboto: Roboto;
  --font-wallpoet: Wallpoet;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;
  --font-size-lg: 18px;
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: rgba(217, 217, 217, 0.9);
  --color-fuchsia: #da48ff;
  --gap-lgi: 19px;
}

.h7 {
  font-size: 18px;
}

.common-styles {
  margin-top: 40px;
  height: 540.5px;
}

.form {
  position: relative;
  background-color: #f0f2f5;
  ;
  width: 100%;
  height: 500px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 50px;
}

.yaTienesCuentaContainer {
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 104px);
  text-align: center;
  display: inline-block;
  height: 20px;
  color: var(--color-fuchsia);
}

.noTienesCuentaContainer {
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 104px);
  text-align: center;
  display: inline-block;
  height: 28px;
  color: var(--color-fuchsia);
}

.registrate {
  color: var(--color-black);
}

.fade-in-horizontal {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.fade-in-horizontal.active {
  opacity: 1;
  transform: scaleX(1);
}

.fade-in-vertical {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.fade-in-vertical.active {
  opacity: 1;
  transform: scaleY(1);
}